<!DOCTYPE html>
<html>
  <head>
    <title>Reservas App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
